//comm-list-style
.comm-list-style{
  li{
    width: 100%;
    height: 77px;
    line-height: 77px;
    font-size: 14px;
    border-bottom: 1px dashed #e6e6e6;
    img{
      vertical-align: middle;
    }
    i{
      font-size: 16px;
      font-weight: bold;
      width: 105px;
      padding-left: 19px;
      display: inline-block;
    }
  }
}
.security-btn{
  width:100%;
  height:41px;
  line-height: 41px;
  color: #fff;
  display: block;
  font-size:18px;
  text-align: center;
  margin-top:22px;
  background: #ffb401;
  border-radius: 4px;
  border:none;
  box-shadow: 0px 3px 0px #eca100;
}
.comm-btn1{
  width:122px;
  background: #ffb401;
  box-shadow: 0px 3px 0px #eca100;
}
.comm-btn2{
  width:122px;
  background: #ff8f2c;
  box-shadow: 0px 3px 0px #df7212;
}
.phcolor{
  color: #999;
}
//validate-style
em.validate-prompt{
  font-size: 12px;
  color: #ffb401;
  margin-left: 3px;
  height: 28px;
  line-height: 28px;
  display: block;
}
//personal-center
.personal-center{
  background: #f7f7f7;
  .main-box{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    h3{
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      color: #5cd15c;
      font-weight: normal;
      img{
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    .main-box-content{
      width: 1000px;
      height: auto;
      background: #fff;
      border:1px solid #e6e6e6;
      border-top: 2px solid #5cd15c;
      margin-bottom: 50px;
      overflow: auto;
      .main-left-con{
        width: 164px;
        height: 100%;
        li{
          height:44px;
          line-height: 44px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          a{
            color: #666;
          }
        }
        li.active{
          a{
            background: #5cd15c;
            color: #fff;
          }
        }
        li.left-icon1{
           background: url("../images/personal-icon2.png") 22px center no-repeat;
        }
        li.left-icon1.active{
          background: url("../images/personal-icon2-on.png") 22px center no-repeat #5cd15c;
        }
        li.left-icon2{
          background: url("../images/personal-icon3.png") 22px center no-repeat ;
        }
        li.left-icon2.active{
          background: url("../images/personal-icon3-on.png") 22px center no-repeat #5cd15c;
        }
        li.left-icon3{
          background: url("../images/personal-icon4.png") 22px center no-repeat;
        }
        li.left-icon3.active{
          background: url("../images/personal-icon4-on.png") 22px center no-repeat #5cd15c;
        }
      }
      .main-right-02{
        padding: 50px 29px 0;
      }
      .main-right-03{
        padding-bottom:326px;
      }
      .main-right-con{
        width: 833px;
        border-left:1px solid #e6e6e6;
        float: left!important;
        .edit-user-info{
          input[type=text]{
            border:none;
            color: #999;
            height: 70px;
            line-height: 70px;
            width: 260px;
          }
          input[type=text]:focus{
            border:none;
            color: #000;
          }
          em{
            margin-right: 30px;
            input[type=radio]{
              margin-right: 10px;display: inline-block;
            }
          }
        }
        .header-img{
          text-align: center;
          height:152px;
          line-height: 12px;
          i{
            width: 70px;
            height: 70px;
            display: block;
            margin: 0 auto;
            margin-bottom: 15px;
            background: url("../images/personal-icon5.png") center no-repeat;
            border:2px solid #5cd15c;
            border-radius:50% ;
          }
          span{
            background:#ffc029;
            color: #fff;
            font-size: 12px;
            padding: 7px 15px 7px;
            border-radius:25px;
            margin: 0 auto;
            margin-bottom: 39px;
            display: inline-block;
          }
        }
        .edit-info-btn{
          width: 188px;
          height: 41px;
          line-height: 41px;
          text-align: center;
          border-radius: 5px;
          color: #fff;
          font-size: 18px;
          margin: 50px auto 39px;
          display: block;
          box-shadow: 0px 3px 0px #eca100;
          background: url("../images/personal-icon9.png")46px center no-repeat #ffc029;
        }
        .save-info-btn{
          width: 188px;
          height: 41px;
          line-height: 41px;
          text-align: center;
          border-radius: 5px;
          color: #fff;
          font-size: 18px;
          margin: 50px auto 39px;
          display: block;
          box-shadow: 0px 3px 0px #eca100;
          background: #ffc029;
        }
        //binging-authorisation
        .title{
          height:44px;
          line-height: 44px;
          border-bottom: 1px solid #e5e5e5;
          span{
            font-size: 18px;
            color: #5cd15c;
            margin: 0 20px 0 34px;
          }
          em{
            font-size: 12px;
            color: #999;
          }
        }
        .bind-list{
          margin: 0 29px;
          overflow: auto;
          .black{
            color: #333;
            font-size:14px;
          }
          .gray{
            color: #999;
            font-size:14px;
            margin-right:30px;
          }
          .yellow{
            color: #ffb401;
            font-size: 12px;
            background: url(../images/warn.png) left center no-repeat;
            padding-left: 19px;
          }
          a{
            width: 88px;
            background: #ffb401;
            font-size: 14px;
            color: #fff;
            border-radius: 4px;
            float: right;
            margin-top: 21px;
            text-align: center;
            display: block;
            height: 36px;
            line-height: 36px;
          }
        }
      }
    }
  }
}
//account-security
.account-security{
  .text-nav{
    margin:20px 26px;
    display: block;
    font-size:14px;
    color: #999999;
  }
  .confirm-modify{
    li{
      margin-bottom:20px;
    }
    .mobile-txt{
      width: 251px;
      padding: 0 0 0 10px;
      height: 42px;
      line-height: 42px;
      border: 1px solid #e4e4e4;
      border-radius: 4px;
    }
  }
  .security-con-ul{
    width:253px;
    margin:65px auto 319px;
    li{
      width:100%;
    }
    span{
      font-size: 14px;
      line-height: 14px;
      color: #666;
      display: block;
      margin-bottom:28px;
      i{
        color: #333;
        margin-left:20px;
      }
    }
    .validate-code{
      margin: 0;
      padding: 0;
      height: 42px;
      width: 162px;
      vertical-align: middle;
      padding-left:10px;
      border-radius: 4px;
      border: 1px solid #e4e4e4;
      border-right: none;
      border-top-right-radius:0 ;
      border-bottom-right-radius:0 ;
    }
    .send-validate-code{
      width: 91px;
      height: 42px;
      color: #fff;
      line-height: 42px;
      font-size: 14px;
      text-align: center;
      float: right;
      border:none;
      vertical-align: middle;
      background: #ffb401;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .change-pwd-txt{
    input{
      margin:0;
      width:251px;
      padding:0 0 0 10px;
      height:42px;
      line-height: 42px;
      border:1px solid #e4e4e4;
      border-radius: 4px;
    }
  }
}
//find-password
.find-password .con-box{
  width:253px;
  margin:22px auto 153px;
  .tabcon{
    width:100%;
    height: 81px;
    line-height:81px;
    overflow: auto;
    margin-bottom:20px;
    border-bottom:1px solid #e4e4e4;
    li{
      width:50%;
      float: left;
      text-align: center;
     i{
       color: #666;
       display: block;
       font-size: 16px;
       height: 34px;
       line-height: 34px;
       border-radius: 30px;
       margin: 32px auto 0;
     }
    }
    li.active{
      background: url("../images/index-nav-bg.png") center 15px no-repeat;
    }
    li.active i {
      color: #fff;
      background: #52ce52;
    }
  }
  .tabcon-li{
    li{
      width:100%;
      white-space:nowrap;
      input{
        width:100%;
        height:42px;
        line-height: 42px;
        vertical-align: middle;
        border:1px solid #e4e4e4;
        border-radius: 4px;
        padding-left:38px;
        font-size:14px;
        margin:10px 0 10px;
        background: url("../images/find-pwd-icon.png") no-repeat;
        background-position: 13px -118px;
      }
      .validate-code{
        margin: 0;
        height: 44px;
        width: 161px;
        vertical-align: middle;
        padding: 0 0 0 38px;
        border: 1px solid #e4e4e4;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .send-validate-code{
        width: 91px;
        height: 44px;
        color: #fff;
        line-height: 44px;
        font-size: 14px;
        text-align: center;
        border: none;
        padding: 0;
        background: #ffb401;
        vertical-align: middle;
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    li .phone-icon{
      background-position: 13px 10px;
    }
    li .shield-icon{
      background-position: 13px -54px;
    }
    li .email-icon{
      background-position: 13px -184px;
    }
    //验证样式行高
    em{
      height:12px;
      line-height: 12px;
    }
  }
  span{
    font-size: 14px;
    line-height: 14px;
    color: #666;
    display: block;
    margin-bottom:28px;
    i{
      color: #333;
      margin-left:20px;
    }
  }

}
//change-header-img
.change-header-img{
  text-align: center;
  h2{
    color: #666;
    font-size:16px;
    line-height:16px;
    font-weight:normal;
  }
  img{
    width:147px;
    height:147px;
    margin:30px auto 10px;
  }
  p{
    font-size:12px;
    color: #999;
  }
}
.form_face{
  .file-upload-txt{
    display: none;
  }
}
//login
.login{
  .con-box {
    width:253px;
    margin: 50px auto 90px;
    .tabcon-li {
      li {
        width: 100%;
        input {
          width: 253px;
          height: 42px;
          line-height: 42px;
          border: 1px solid #e4e4e4;
          border-radius: 4px;
          padding-left: 38px;
          font-size: 14px;
          margin: 10px 0 10px;
          background: url("../images/find-pwd-icon.png") no-repeat;
          background-position: 13px -118px;
        }
        .validate-code {
          margin: 0;
          height: 42px;
          width: 161px;
          line-height: 42px;
          vertical-align: middle;
          padding: 0 0 0 38px;
          border: 1px solid #e4e4e4;
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .send-validate-code {
          width: 91px;
          height: 42px;
          line-height: 42px;
          font-size: 14px;
          color: #fff;
          vertical-align: middle;
          text-align: center;
          border: none;
          padding: 0;
          background: #ffb401;
          border-radius: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      li .phone-icon{
        background-position: 13px 10px;
      }
      li .shield-icon{
        background-position: 13px -54px;
      }
      li .lock-icon{
        background-position: 13px -118px;
      }
      //验证样式行高
      em {
        height: 12px;
        line-height: 12px;
      }
    }
    h2 {
      font-size: 16px;
      color: #666;
      font-weight: normal;
      text-align: center;
      margin-bottom: 25px;
    }
    .agreement-txt{
      color: #999;
      height:38px;
      line-height: 38px;
      font-size: 12px;
      a{
        color: #ffc866;
        text-decoration: underline;
      }
    }
    .security-btn{
      margin-top:0;
    }
    .validate-img{
      width: 91px;
      height: 42px;
      color: #fff;
      line-height: 42px;
      font-size: 14px;
      text-align: center;
      float: right;
      border:none;
      display: block;
      margin:10px auto 10px;
      background: url("../images/validate-code-bg.png") center no-repeat;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .validate-code{
      margin:10px auto 10px!important;
    }
    .jump-login-txt{
      color: #999;
      margin-top:20px;
      font-size: 12px;
      text-align: right;
      a{
        color: #ffc866;
        text-decoration: underline;
      }
    }
  }
  .con-box-01{
    h2{
      p{
        font-size:14px;
        color: #c6c6c6;
        margin:10px auto 20px!important;
      }
    }
  }
  .tabcon-li-01{
    width:100%;
    overflow: hidden;
    li{
      width:49%;
      float: left;
      height:14px;
      margin:17px auto 15px;
      a{margin:0 10px;color: #ffb401;display: block;font-size: 14px;vertical-align: middle;}
    }
    li.li-border-right{
      text-align: right;
      border-right:1px solid #e4e4e4;
    }
  }
  .tabcon-li-02{
    width:159px;
    margin: 0 auto;
    overflow: auto;
    li{
      float: left;
      i{
        height:40px;
        width:39px;
        display: block;
        margin:0 7px;
        background: url("../images/other-methods.png") no-repeat;
      }
    }
    li.on{
      i{
        background: url("../images/other-methods-on.png") no-repeat;
      }
    }
    li.others-method-01 i{
      background-position: 0 0;
    }
    li.others-method-02 i{
      background-position: -54px 0;
    }
    li.others-method-03 i{
      background-position: -108px 0;
    }
  }
  .login-btn{
    margin-top:40px!important;}
  .others-method{
    width: 100%;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    color: #c2c2c2;
    text-align: center;
    em{
      display: block;
      width:70px;
      height:1px;
      border-top:1px solid #e4e4e4;
      position: relative;
      top: 22px;
    }
  }
}
//app-download
.app-download{
  .banner{
    width:100%;
    height:580px;
    position: relative;
    background: url("../images/banner-img02.jpg") center no-repeat;
  }
  .banner-box{
    width: 1000px;
    height: 172px;
    overflow: hidden;
    margin: 0 auto;
    top: 290px;
    position: relative;
  }
  .img-box{
    width: 441px;
    height:100%;
    float: right;
    .erweima{
      width:171px;
      height:172px;
      background: url("../images/erweima.png") center no-repeat;
    }
    .btn-box{
      vertical-align: middle;
      a{
        width:242px;
        height:61px;
        display: block;
      }
      .ios-btn{
        margin:17px 0 26px;
        background: url("../images/ios-btn.png") center no-repeat;
      }
      .android-btn{
        background: url("../images/android-btn.png") center no-repeat;
      }
    
    }
  }
  .main{
    width:100%;
    height:auto;
  }
  .main-con-box{
    width: 1000px;
    margin:0 auto;
    h2{
      font-size:24px;
      height:114px;
      line-height: 114px;
      color: #52ce52;
      font-weight:normal;
    }
    ul{
      width:100%;
      height:226px;
      li{
        height:100%;
        float: left;
      }
      .step01{
        width:334px;
      }
      .step02{
        width:312px;
        padding-left:10px;
      }
      .step03{
        width:354px;
        padding-left:12px;
      }
      .step{
        i{
          font-size: 18px;
          color: #fff;
          width: 28px;
          height: 28px;
          overflow: hidden;
          display: inline-block;
          float: left;
          padding-top: 4px;
          text-align: center;
          margin-right:9px;
          vertical-align: middle;
        }
        em{
          font-size:18px;
          line-height: 22px;
          color: #333;
          margin-top:4px;
          width: 232px;
          display: inline-block;
        }
      }
      .icon-box{
        height:128px;
      }
      .icon03{
        padding:10px 0 0 2px;
        .tudou-icon{
          margin-right:16px;
        }
        span{
          width:188px;
          margin-right:4px;
          /*多行本文溢出*/
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          p{
            color: #666;
            font-size:12px;
            line-height:12px;
            margin-bottom:5px;
          }
          .title{
            font-size:18px;
            color: #333;
            line-height: 39px;
            margin-bottom:0;
          }
        }
      }
    }
    .ios-step-box{
      border-bottom:1px dashed #dad9d9;
      .icon01{
        padding:7px 0 0 52px;
      }
      .step{
        i{
          background: url("../images/ios-step-btn.png") center no-repeat;
        }
      }
    }
    .android-step-box{
      margin: 54px 0 25px;
      height:255px;
      .step{
        i{
          background: url("../images/android-step-btn.png") center no-repeat;
        }
      }
      .step03{position: relative;}
      span{
        width:210px!important;
      }
      .install-bg{
        position: absolute;
        top: 19px;
        right: -2px;
      }
      }
    }
}
//product-DadAndMom
.product-DadAndMom{
  .banner{
    width:100%;
    height:813px;
    background: url("../images/pro-banner-img1.jpg")center no-repeat;
  }
  .banner-box{
    width:1000px;
    margin:0 auto;
    position: relative;
    .banner-con-box{
      position: relative;
      top:196px;
      h2{
        width:100%;
        height: 60px;
        margin-bottom:22px;
        background: url("../images/banner-title-icon.png") left center no-repeat;
      }
      p{
        color: #333;
        font-size:51px;
        line-height:74px;
      }
      .erweima{
        width:171px;
        height:172px;
        margin:30px 0 10px 20px;
      }
      span{
        display: block;
        font-size: 14px;
        color: #444;
        margin-left:32px;
      }
    }
  }
  .main-con-box{
    width:100%;
  }
  .modules{
    width:100%;
    .modules-con{
      width:1000px;
      margin:0 auto;
      height:100%;
      h2{
        color: #333;
        font-size: 38px;
        font-weight:normal;
        margin-bottom:20px;
      }
      p{
        color: #666;
        line-height:40px;
        font-size:20px;
      }
    }
    .category-label{
      overflow: auto;
      margin-top:20px;
      li{
        width:88px;
        height: 34px;
        float: left;
        margin:0 8px 8px 0;
        text-align: center;
        background: url("../images/pro-btn-icons.png") center no-repeat;
        a{
          display: block;
          color: #fff;
          padding-top:10px;
        }
      }
      li.green{
        background-position: 0 0;
      }
      li.blue{
        background-position: -194px 0;
      }
      li.orange-yellow{
        background-position: -97px 0;
      }
      li.orange{
        background-position: -293px 0;
      }

    }
  }
  .modules02,.modules06,.modules08{
    width: 100%;
    height:580px;
    text-align: center;
    p{
      font-size:44px!important;
      line-height:62px!important;
      color: #fff!important;
      text-shadow: 0px 3px 7px rgba(69, 69, 69, 0.47);
    }
  }
  .modules01,.modules03,.modules05,.modules07{
    height:400px;
    overflow: auto;
    background: #fff;
  }
  .modules01{
    .modules-con{
      padding:73px 64px 0 48px;
      height: 100%;
    }
    .category-list-01{
      width: 384px;
    }
  }
  .modules02{
    .modules-con{
      padding-top:480px;
    }
    background: url("../images/pro-banner-img2.jpg") center no-repeat;
  }
  .modules03{
    .modules-con{
      padding:91px 52px 0 129px;
      height: 100%;
    }
    .txt-box{
      margin-top:42px;
    }
  }
  .modules04{
    height:580px;
    background: #e8f2f7;
    .modules-con{
      padding-top:100px;
    }
    .vedio-list{
      width:100%;
      li{
        float: left;
        width:320px;
        height:388px;
        position: relative;
        border-radius:4px;
        overflow: hidden;
      }
      .vedio-center{
        margin:0 20px;
      }
      .describe-box{
        top: -10px;
        position: relative;
        background: #fff;
        border-radius:4px;
        padding: 44px 13px 28px 16px;
        h2{
          color: #000;
          font-size: 24px;
          text-align: center;
        }
        p{
          color: #666;
          font-size: 16px;
          line-height:20px;
        }
      }
      .vedio-icon{
        width: 66px;
        height: 67px;
        z-index: 99;
        display: block;
        position: absolute;
        top: 188px;
        left: 122px;
        background: url("../images/vedeo-pause.png") center no-repeat;
      }
    }
  }
  .modules05{
    .modules-con{
      padding:86px 47px 0 125px;
      height: 100%;
    }
    .txt-box{
      margin-top:15px;
    }
  }
  .modules06{
    .modules-con{
      padding-top:425px;
    }
    background: url("../images/pro-banner-img3.jpg") center no-repeat;
    p{
      font-size:40px!important;
      line-height: 62px;
    }
  }
  .modules07{
    .modules-con{
      padding:80px 17px 0 135px;
      height: 100%;
    }
    .txt-box{
      margin-top:15px;
    }
  }
  .modules08{
    .modules-con{
      padding-top:470px;
    }
    background: url("../images/pro-banner-img4.jpg") center no-repeat;
  }
  .modules09{
    width:100%;
    height:681px;
    background: url("../images/pro-banner-img5.jpg") center no-repeat;
    .modules-con{
      padding:190px 46px 0;
      height:100%;
    }
    h2{
      font-size:48px;
      color: #333;
      font-weight:normal;
      margin-bottom:30px;
    }
    p{
      color: #666;
      font-size: 26px;
      margin-bottom:100px;
    }
  }
  //win-prop
  .win-prop{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position:fixed;
    z-index:998;
    background: rgba(0,0,0,.5);
  }
  #mediaplayer{
    position: fixed;
    display: none;
    top:50%;
    left: 50%;
    z-index:999;
    margin-top:-250px;
    margin-left:-400px;
  }
}
//product-early-education
.product-early-education{
  .banner{
    width:100%;
    height:713px;
    background: url("../images/pro-banner-img6.jpg")center no-repeat;
  }
  .banner-box{
    width:1000px;
    margin:0 auto;
    position: relative;
    .banner-con-box{
      padding-top:130px;
      text-align: center;
      img{
        display: block;
        margin:0 auto;
      }
      .img2{
        margin:27px auto 19px;
      }
      p{
        color: #eb487e;
        font-size:20px;
        line-height:20px;
      }
    }
  }
  .main-con-box{
    width:100%;
  }
  .modules{
    width:100%;
    .modules-con{
      width:1000px;
      margin:0 auto;
      height:100%;
    }
  }
  .modules01,.modules02,.modules03,.modules04,.modules05{
    height:800px;
  }
  .modules01{
    background: #38cec9;
    .modules-con{
      padding-top:52px;
    }
    ul{
      width:100%;
      margin-top:30px;
      overflow: hidden;
    }
    li{
      width: 323px;
      float: left;
      span{
        font-size: 18px;
        color: #fff;
        display: block;
        margin-bottom:14px;
      }
      i{
        display: inline-block;
        width:30px;
        height:30px;
        text-align: center;
        padding-top:6px;
        margin-right:10px;
        background: url("../images/pro-list-bg.png") center no-repeat;
      }
      em{
        width:35%;
        height:1px;
        margin-left:14px;
        display: inline-block;
        vertical-align: middle;
        border-top:1px dashed #fff;
      }
    }
    .center-li{
      margin:0 15px;
    }
  }
  .modules02{
    text-align: center;
    .modules-con{
      padding-top:77px;
    }
    background: url("../images/pro-banner-img7.jpg") center no-repeat;
  }
  .modules03{
    .modules-con{
      padding-top:210px;
    }
    ul{
      margin-top:51px;
    }
    li{
      color: #fff;
      font-size:24px;
      height:42px;
      line-height:42px;
      padding-left:25px;
      background: url("../images/pro-list-bg1.png")3px center no-repeat;
    }
    background: url("../images/pro-banner-img8.jpg") center no-repeat;
  }
  .modules04{
    background: #fabf41;
    padding-top:128px;
    .text-box{
      text-align: center;
    }
    h2{
      width:100%;
      height:51px;
      background:url("../images/pro-txt-img6.png") center no-repeat;
    }
    p{
      font-size:24px;
      color: #fff;
    }
    .p1{
      margin: 50px 0 24px;
    }
    .teacher-list{
      overflow: hidden;
      margin-top:102px;
      li{
        width:206px;
        margin-right:58px;
        float: left;
        text-align: center;
      }
      em{
        display: block;
        width:20px;
        height:1px;
        border-top:1px solid #fff;
        margin:20px auto 22px;
      }
      span{
        font-size:24px;
        color: #fff;
      }
      .no-margin{
        margin-right:0 !important;
      }
      img{
        width:206px;
        height:206px;
      }
    }
  }
  .modules05{
    background: url("../images/pro-banner-img9.jpg") center no-repeat;
    .modules-con{
      padding-top:128px;
      h2{
        width:100%;
        height:59px;
        margin-bottom:22px;
        background:url("../images/pro-txt-img7.png") center no-repeat;
      }
      p{
        font-size:26px;
        color: #fff;
        text-align: center;
      }
      h3{
        font-size:30px;
        color: #fff;
        font-weight: normal;
        margin-top:134px;
        padding-left:605px;
      }
      .modules-5-list{
        width:100%;
        padding-left: 605px;
        display: block;
        margin-top: 50px;
      }
      li{
        list-style: none;
        color: #fff;
        font-size:24px;
        height:42px;
        line-height:42px;
        padding-left:25px;
        background: url("../images/pro-list-bg1.png")3px center no-repeat;
      }
    }
  }
  .modules06{
    height: 837px;
    background: url("../images/pro-banner-img10.jpg") center no-repeat;
    .modules-con{
      padding-top:130px;
      p{
        font-size:24px;
        color: #333;
        margin-bottom:18px;
      }
      span{
        margin-top: 68px;
        color: #666;
        font-size: 20px;
        display: block;
      }
      img{
        display: block;
        position: relative;
        top: -28px;
      }
    }
  }
}

//product-picturebook
.product-picture-book{
  .query-condition-box{
    width:100%;
  }
  .query-condition-title{
    width:1000px;
    margin:0 auto;
    h2{
      height:51px;
      line-height:51px;
      color: #666;
      font-size:18px;
      font-weight:normal;
      i{
        margin:0 6px;
      }
    }
  }
  .query-condition-classify{
    height:80px;
    line-height:80px;
    background: #f6f6f6;
    .classify-list-01{
      width: 1000px;
      margin:0 auto;
      overflow: hidden;
      li{
        float: left;
        margin-right: 45px;
        a{
          color: #666;
          font-size:16px;
          line-height:16px;
        }
      }
      li.active{
        a{
          color: #fff;
          display: block;
          padding:15px 36px;
        }
        margin-top: 17px;
        background: #52ce52;
        border-radius: 25px;
      }
    }
  }
  .query-condition-view{
    width:1000px;
    margin:0 auto;
    padding:35px 0;
    ul{
      display: block;
      overflow: hidden;
    }
    .classify-list-02{
      margin-bottom:24px;
    }
    li{
      float: left;
      line-height:25px;
      margin-right:34px;
      a{
        color: #666;
      }
    }
    li.active{
      a{
        color: #fff;
        padding:0 18px;
      }
      background: #52ce52;
      border-radius: 25px;
    }
  }
  .main-con-box{
    width:100%;
  }
  .modules{
    width:100%;
    .modules-con{
      width:1000px;
      margin:0 auto;
      height:620px;
      color: #fff;
      overflow: auto;
      padding-top:124px;
    }
    .txt-box{
      width:560px;
      float: left;
    }
    .vedio-box{
      float: right;
      width:440px;
      padding-left:69px;
      position: relative;
      img{
        width:350px;
        height:350px;
        border-radius: 8px;
        overflow: hidden;
      }
      span{
        text-align: center;
        position: relative;
        top:-207px;
        cursor: pointer;
      }
      i{
        width:54px;
        height:54px;
        display: block;
        margin:0 auto 28px;
        background: url("../images/pro-play-btn.png") center no-repeat;
      }
      em{
        font-size:14px;
        color: #fff;
        display: block;
        margin:0 auto;
      }
    }
    h2{
      margin:48px 0;
      font-size:50px;
      font-weight:normal;
    }
    p{
      font-size:24px;
      line-height:46px;
    }
  }
  .modules01{
    background: #269ce5;
  }
  .modules02{
    background: #98c73b;
  }
  .modules03{
    background: #f5c02a;
  }
  .modules04{
     background: #f08b30;
  }
  .modules05{
    .modules-con{
      height:185px!important;
      padding-top:50px;
      a{
        float: left;
        width:28px;
        height:28px;
        text-align: center;
        padding-top:7px;
        margin-right:10px;
        color: #666;
      }
      a.first-page{
        width:auto;
        margin-right:18px;
      }
      a.last-page{
        width: auto;
        margin-left:18px;
      }
      a.previous-page{
        background: url("../images/previous-page.png") center no-repeat;
      }
      a.next-page{

        background: url("../images/next-page.png") center no-repeat;
      }
      a.active{
        color: #fff;
        background: url("../images/page-bg.png") center no-repeat;
      }
    }
  }
  .paging-box{
    width:410px;
    margin:0 auto;
    text-align: center;
  }
  //win-prop
  .win-prop{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position:fixed;
    z-index:998;
    background: rgba(0,0,0,.5);
  }
  #mediaplayer{
    position: fixed;
    display: none;
    top:50%;
    left: 50%;
    z-index:999;
    margin-top:-250px;
    margin-left:-400px;
  }
}



